@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');

*{
  font-family: "Montserrat" !important;
  margin: 0;
  padding: 0;
  text-decoration: none;
  max-width: 100% !important;
  height: 100%;
  margin-left: 3%;
  margin-right: 3%;
}

* a {
  color: white !important;
  text-decoration: none !important;
}

* li {
  list-style: none !important;
}

body{
  font-family: "Montserrat" !important;
  background-image: url("../public/landing.jpg");
  background-repeat: repeat;
  background-position: center;
  object-fit: cover;
}